@font-face {
    font-family: Norse;
    src: url(../fonts/Norse.woff)
}

@font-face {
    font-family: Norsebold;
    src: url(../fonts/Norse-Bold.woff)
}


body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;    
}

.left {
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    color: white;
    position: relative;
    font-family: Norse, sans-serif;
}

.left p {
    font-family: sans-serif;
}

.left a {
    color: white;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    margin-top: 120px;
}

.sidebar-img {
    height: 60px;
}

.logo-text {
    font-size: 3rem;
    font-weight: bold;
}

.credit {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    font-family: sans-serif;
    width: 60vw;
}

.first {
    height: 25vh;
    display: flex;
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
}

.second {
    height: 45vh;
    background-color: white;
    box-shadow: 0 1px 3px;
}

.form-container {
    display: flex;
    gap: 10%;
    margin: 1rem;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 1rem;
}

form {
    font-size: 0.8rem;
}

input {
    font-size: 0.8rem;
    margin-bottom: 10%;
    padding: 0.2rem;
    border: 1px solid #E5E7EBcc;
    border-radius: 2px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 1px;
}

input[type="password"]:focus:invalid {
    border-color: red;
}