body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;    
}

.left {
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
}

.right{
    width: 60vw;
}